body
{
	margin: 0;
	padding: 0;
}

tr
{
	overflow:scroll;
	white-space: nowrap;
}

td
{  
	width: 40px;
    height: 40px; 
    margin: 0px;
    display: inline-block;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
}

td:hover
{
    box-shadow: 0 0 8px #66CCFF;
}

td:active
{
    box-shadow: 0 0 8px rgba(200, 0, 0, 0.8);
}


.numtd
{
	background: radial-gradient(rgba(255, 176, 176, 0.4) 30%, #d9d9ff 70%); 
}

.untd
{
	background: #E4E4E4;
}

.blktd
{
	background: radial-gradient(#F8F8F8 60%, #EAEAEA 90%)
}

.flgtd
{
	background: radial-gradient(#FF8484 30%, rgba(255, 148, 148, 0.4) 70%);
}

